@import url("https://use.typekit.net/fiu2sfj.css");

$dark: #260101;
$orange: #D96B52;
$yellow: #F2D338;
$green: #1F3740;
$pink: #F27289;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: new-kansas, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #fff;
}

h1 {
    font-size: 88px;
}

a {
    color: #fff;
    text-decoration: none;
}

.home {
    background-color: $dark;
}
.about {
    background-color: $orange;
}
.skills {
    background-color: $yellow;
}
.projects {
    background-color: $green;
}
.contact {
    background-color: $pink;
}

nav {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    margin: auto;
    .menu {
        display: inline-block;
        position: absolute;
        font-size: 48px;
        padding: 2rem;
        cursor: pointer;
    }
    .exit {
        display: none;
        position: absolute;
        font-size: 58px;
        padding: 2rem;
        cursor: pointer;
    }
    .navigation-items {
        list-style-type: none;
        text-align: center;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: 48px;
            transition: 0.5s;
        }
        span:hover {
            font-size: 58px;
        }
        .home {
            animation: moveToRight 0.2s ease-in-out;
        }
        .about {
            animation: moveToRight 0.6s ease-in-out;
        }
        .skills {
            animation: moveToRight 1.2s ease-in-out;
        }
        .projects {
            animation: moveToRight 1.6s ease-in-out;
        }
        .contact {
            animation: moveToRight 2s ease-in-out;
        }
        @keyframes moveToRight {
            0% {
                transform: translateX(-100vw);
            }
            100% {
                transform: translateX(0px);
            }
        }
    }

}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: 0;
    text-align: center;
    .basic {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

}