@import url("https://use.typekit.net/fiu2sfj.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: new-kansas, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #fff;
}

h1 {
  font-size: 88px;
}

a {
  color: #fff;
  text-decoration: none;
}

.home {
  background-color: #260101;
}

.about {
  background-color: #D96B52;
}

.skills {
  background-color: #F2D338;
}

.projects {
  background-color: #1F3740;
}

.contact {
  background-color: #F27289;
}

nav {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: auto;
}

nav .menu {
  display: inline-block;
  position: absolute;
  font-size: 48px;
  padding: 2rem;
  cursor: pointer;
}

nav .exit {
  display: none;
  position: absolute;
  font-size: 58px;
  padding: 2rem;
  cursor: pointer;
}

nav .navigation-items {
  list-style-type: none;
  text-align: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

nav .navigation-items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-size: 48px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .navigation-items span:hover {
  font-size: 58px;
}

nav .navigation-items .home {
  -webkit-animation: moveToRight 0.2s ease-in-out;
          animation: moveToRight 0.2s ease-in-out;
}

nav .navigation-items .about {
  -webkit-animation: moveToRight 0.6s ease-in-out;
          animation: moveToRight 0.6s ease-in-out;
}

nav .navigation-items .skills {
  -webkit-animation: moveToRight 1.2s ease-in-out;
          animation: moveToRight 1.2s ease-in-out;
}

nav .navigation-items .projects {
  -webkit-animation: moveToRight 1.6s ease-in-out;
          animation: moveToRight 1.6s ease-in-out;
}

nav .navigation-items .contact {
  -webkit-animation: moveToRight 2s ease-in-out;
          animation: moveToRight 2s ease-in-out;
}

@-webkit-keyframes moveToRight {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveToRight {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  text-align: center;
}

.container .basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */